<section>
   <div class="container mt-3">
      <div class="row mb-3">
         <a href="/admin/add-product" class="ml-auto">
            <button type="button" class="btn btn-outline-success">Add Products</button>
         </a>
      </div>
      <div class="row">
         <table class="table table-hover table-dark table-responsive-sm">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col">Picture</th>
               </tr>
            </thead>
            <tbody>
               {{#each products}}
               <tr>
                  <th scope="row">{{@index}}</th>
                  <td> {{this.product_name}} </td>
                  <td> {{this.category}} </td>
                  <td> {{this.description}} </td>
                  <td> {{this.price}} </td>
                  <td> <img src="/uploaded/{{this.image}}" alt="" style="height: 50px; width: auto;"> </td>
                  <td>
                     <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary mr-3"> edit </a>
                     <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger ml-3"
                        onclick="return confirm('Are You sure Want To Delete {{ this.product_name }}')">Delete </a>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</section>