<div class="container">
   <div class="row mt-3">
      {{#each products}}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3 d-flex justify-content-center">
         <div class="card" style="width: 18rem;">
            <img src="/uploaded/{{this.image}}" class="card-img-top" alt="{{this.image}}" id="products-image-user">
            <div class="card-body">
               <h5 class="card-title"> {{this.product_name}} </h5>
               <p class="card-text"> {{this.description}} </p>
               <p class="card-text"> {{this.category}} </p>
               <p class="card-text"> {{this.price}} </p>
               <a href="#" class="btn btn-primary">add to cart</a>
            </div>
         </div>
      </div>
      {{/each}}
   </div>
</div>