<style>
   .w-0 {
      width: 0 !important;
   }
</style>
<section>
   <div class="container mt-3 pt-3">
      <div class="row text-center justify-content-center">
         <p class="display-4 text-info font-weight-bold">Orders</p>
      </div>
      <div class="row">
         <table class="table table-hover table-dark table-responsive-sm text-center">
            <a href="/orders" class="btn btn-success mb-2">
               <svg class="w-6 h-6" style=" width: 50px; height: 35px;" fill="none" stroke="currentColor"
                  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                     d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z"></path>
               </svg>
            </a>
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col">Picture</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Description</th>
                  <th scope="col">Status</th>
               </tr>
            </thead>
            <tbody>
               {{#each products}}
               <tr>
                  <th scope="row">{{@index}}</th>
                  <td> <img src="/uploaded/{{this.product.image}}" alt="" style="height: 50px; width: auto;"> </td>
                  <td> {{this.product.product_name}} </td>
                  <td> {{this.product.price}} </td>
                  <td> {{this.quantity}} </td>
                  <td> {{this.product.description}} </td>
                  <td>
                     <span>lorem</span>
                  </td>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</section>