<style>
   .w-0 {
      width: 0 !important;
   }
</style>
<section>
   <div class="container mt-3 pt-3">
      {{#if showOrders}}
      <div class="row text-center justify-content-center">
         <p class="display-4 text-info font-weight-bold">Orders</p>
      </div>
      <div class="row">
         <table class="table table-hover table-dark table-responsive-sm text-center">
            <thead>
               <tr>
                  <th scope="col">#</th>
                  <th scope="col" class="px-0 w-0">Order Id</th>
                  <th scope="col">Order Date</th>
                  <th scope="col">Order Price</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Address</th>
                  <th scope="col">Status</th>
               </tr>
            </thead>
            <tbody>
               {{#each orders}}
               <tr>
                  <th scope="row">{{@index}}</th>
                  <td class="px-0 w-0">
                     <span>{{this._id}}</span>
                  </td>
                  <td>
                     <span>{{this.date}}</span> || <span>{{this.time}}</span>
                  </td>
                  <td> {{this.totalAmount}} </td>
                  <td> {{this.paymentMethod}} </td>
                  <td>
                     <span>{{this.address.address}}</span>
                  </td>
                  <td>
                     <a href="/orders/view/{{this._id}}" class="btn btn-info">Check Products</a>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
      {{else}}
      <div class="row">
         <div class="col border border-primary rounded text-danger text-center">
            <p class="font-weight-bold">
            <h1 class="heading-4">
               No Orders Yet
            </h1>
            <p class="text-primary"> Have Some Purchase Buddy </p>
            </p>
         </div>
      </div>
      {{/if}}
   </div>
</section>